@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: #120e07;
	min-height: 100vh;
	background: repeating-linear-gradient(
			0deg,
			transparent,
			transparent 24px,
			#ccc 24px,
			#ccc 26px
		),
		repeating-linear-gradient(
			90deg,
			transparent,
			transparent 24px,
			#ccc 24px,
			#ccc 26px
		);
}
@media (min-width: 768px) {
	body {
		background: repeating-linear-gradient(
				0deg,
				transparent,
				transparent 48px,
				#ccc 48px,
				#ccc 50px
			),
			repeating-linear-gradient(
				90deg,
				transparent,
				transparent 48px,
				#ccc 48px,
				#ccc 50px
			);
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
