@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	scroll-behavior: smooth;
	font-size: 16px;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
		scroll-behavior: smooth;
	}
}

body {
	color: #120e07;
	min-height: 100vh;
	line-height: 24px;
	background-image: url('./assets//textures/grid-small.svg');
	background-repeat: repeat;
	background-size: 24px;
}

@media (min-width: 768px) {
	:root {
		font-size: 18px;
	}

	body {
		background-size: 30px;
		line-height: 30px;
	}
}

@media (min-width: 1024px) {
	:root {
		font-size: 20px;
	}

	body {
		background-size: 36px;
		line-height: 36px;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
