@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
		scroll-behavior: smooth;
	}
}

body {
	font-size: 16px;
	color: #120e07;
	min-height: 100vh;
	line-height: 25px;
	background-image: repeating-linear-gradient(
			0deg,
			transparent,
			transparent 24px,
			#ebebeb 24px,
			#ebebeb 25px
		),
		repeating-linear-gradient(
			90deg,
			transparent,
			transparent 24px,
			#ebebeb 24px,
			#ebebeb 25px
		);
	background-repeat: repeat;
}

@media (min-width: 768px) {
	body {
		font-size: 18px;
		line-height: 42px;
		background-image: repeating-linear-gradient(
				0deg,
				transparent,
				transparent 40px,
				#ebebeb 40px,
				#ebebeb 41px
			),
			repeating-linear-gradient(
				90deg,
				transparent,
				transparent 40px,
				#ebebeb 40px,
				#ebebeb 41px
			);
		background-repeat: repeat;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
